<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <main class="container" id="app">
        <div class="search">
            <form @submit.prevent="handleSubmit">
                <fieldset class="form-group">
                    <div class="term">
                        <input v-model="term" type="text " class="form-control " id="term " placeholder="Enter a search term ">
                    </div>
                    <div class="city">
                        <input v-model="city" type="text " class="form-control " id="term " placeholder="Enter a city ">
                    </div>


                </fieldset>
                <button type="submit " class="btn btn-danger ">Add</button>
            </form>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">City Data: {{city}}</h5>

                <p v-for="rent in cityData.rent">
                    {{rent}}
                </p>

                <p v-if="typeof cityData !== undefined">{{cityData.meal}}</p>

                <br>

                <p v-if="typeof cityData !== undefined">{{cityData.monthlyTransportationPass}}</p>
            </div>
        </div>

        <div class="card jobs col-lg" v-if="jobs !== undefined" v-for="jobListing in jobs.clJson">
            <h5 class="card-header">{{jobListing.title}}</h5>
            <div class="card-body">
                <a v-bind:href="jobListing.url" class="btn btn-primary">Job Posting</a>
                <button class="btn btn-primary" v-on:click=addJobs(jobListing)>Add job</button>
            </div>
        </div>

        <div class="card jobs col-lg" v-if="jobs !== undefined" v-for="jobListing in jobs.overflowJson">
            <h5 class="card-header">{{jobListing.title}}</h5>
            <div class="card-body">
                <p>Company: {{jobListing.company}}</p>
                <p>Pay: {{jobListing.pay}}</p>
                <a v-bind:href="jobListing.jobUrl" class="btn btn-primary">Job Posting</a>
            </div>
        </div>

    </main>
    <script src="https://unpkg.com/vue@2" charset="utf-8"></script>
    <script src="client.js" charset="utf-8"></script>
</body>

</html>